~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~  
~~   http://www.apache.org/licenses/LICENSE-2.0
~~  
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.

Web application configuration

 When developing a web application you probably want the generated CSS files to be included in the war.
 This can be configured by changing the <<<outputDirectory>>> configuration:

+-----+
<project>
  ...
  <build>
    <plugins>
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>lesscss-maven-plugin</artifactId>
        <version>${currentVersion}</version>
        <configuration>
          <outputDirectory>${project.build.directory}/${project.build.finalName}/css</outputDirectory>
        </configuration>
      </plugin>
      ...
    </plugins>
  </build>
  ...
</project>
+-----+

 When you want to compile the LESS sources client side in development mode (see {{http://lesscss.org/#-client-side-usage}}), 
 you want the sources to be located in your <code>webapp</code> directory to include them in your web pages.\
 This can be configured by changing the <<<sourceDirectory>>> configuration:

+-----+
<project>
  ...
  <build>
    <plugins>
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>lesscss-maven-plugin</artifactId>
        <version>${currentVersion}</version>
        <configuration>
          <sourceDirectory>${project.basedir}/src/main/webapp/less</sourceDirectory>
          <outputDirectory>${project.build.directory}/${project.build.finalName}/css</outputDirectory>
        </configuration>
      </plugin>
      ...
    </plugins>
  </build>
  ...
</project>
+-----+
